@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@font-face {
    font-family: 'still_shine';
    src: url('still_shine-webfont.eot');
    src: url('still_shine-webfont.eot?#iefix') format('embedded-opentype'),
         url('still_shine-webfont.woff2') format('woff2'),
         url('still_shine-webfont.woff') format('woff'),
         url('still_shine-webfont.ttf') format('truetype'),
         url('still_shine-webfont.svg#still_shineregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
