.hero {
  &__img {
    background: #eee;
    border: 1.25em solid #fff;
    box-shadow: 0px 1px 19px rgba(0, 0, 0, 0.12);
    position: relative;
    top: -50px;
  }
  &__title {
    margin: 0;
  }
  &__subtitle {
  }
  &__content{
    margin: 5px 0;
    opacity: 0.7;
  }
  &__map {
    margin: 25px 0;
  }
}
