// fonts

$sans: 'Montserrat', sans-serif;
$serif: 'Droid Serif', serif;
$body: 'Roboto', sans-serif;

// colors

$primary-color: #19132B;
$primary-hover: #2E244B;
$accent-color: #5BCEBB;
$accent-dark: #31BEA7;
$text-color-dark: $primary-color;
$text-color-light: rgba(#fff, 0.95);
$bg-light: #F4F3F5;
$bg-dark: $primary-color;
$error-color: #EF233C;
$success-color: #06D6A0;

// breakpoints

$S:     430px;
$M:     820px;
$L:     1170px;
